html {
	font-size: 15px;
}

body {
	font-family: "Verdana", sans-serif;
}

/* .modal {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;

	width: 500px;
	height: 400px;
	margin-left: -250px;
	margin-top: -300px;

	background-color: darkseagreen;
} */

h1,
h2 {
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.container * {
	box-sizing: border-box;
}

header,
section {
	box-sizing: border-box;
}

header {
	background-color: gray;
	padding: 20px;
	height: 10vh;
}

section {
	padding: 20px;
	min-height: 30vh;
}

section .title {
	margin-top: 20px;
	margin-bottom: 10px;
}

header .title {
	text-align: center;
	color: white;
}

.position {
	position: relative;
	background-color: lightblue;
}

.position .box-kv {
	background-color: rgb(11, 138, 212);
}

.box-kv .kv {
	width: 100px;
	height: 100px;
}

.box-kv .kv1 {
	background-color: white;
}

.box-kv .kv2 {
	background-color: gold;
}

.box-kv .kv3 {
	background-color: green;
}

.box-model {
	position: relative;
	background-color: lightgray;
}

.psevdo {
	position: relative;
	width: 50%;
	padding: 20px;
	padding-left: 150px;
	background-color: lightyellow;
}

.psevdo::before {
	position: absolute;
	left: 20px;
	top: 10px;
	padding: 10px 15px;

	content: "Внимание!";
	font-weight: bold;
	border-radius: 10px;
	color: blue;
	background-color: gold;
}

.text-block {
	padding: 10px;
	background-color: darkslategrey;
}

.header,
.footer {
	min-height: 50px;
	background-color: darkblue;
}

.columns::after {
	content: "";
	display: table;
	clear: both;
}

.col {
	min-height: 50vh;
	float: left;
}

.col-1 {
	width: 20%;
	background-color: gold;
}

.col-2 {
	width: 50%;
	background-color: green;
}

.col-3 {
	float: right;
	width: 30%;
	background-color: darkslateblue;
}

.footer {
	clear: both;
}

.card-container {
	padding: 10px;
	text-align: left;
	background-color: lightyellow;
}

.card {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	min-height: 100px;
	background-color: gray;
}

.flex {
	background-color: lightblue;
}

.fonts {
	background-color: lightyellow;
}
.flex {
    background-color: lightblue;
}

.flex-container {
	display: flex;
    width: 80%;
    margin: auto;
    background-color: lightyellow;
}

.flex-item {

    width: 130px;
    min-height: 100px;
	
    box-shadow: inset 0 0 0 2px gray;
}
