@font-face {
	font-family: 'Andantino script';
	src: url('fonts/andantino-script.eot');
	src: url('fonts/andantino-script.woff') format('woff'),
	url('fonts/andantino-script.ttf') format('truetype'),
	url('fonts/andantino-script.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'DS BroadBrush';
	src: url('fonts/ds-broadbrush.eot');
	src: url('fonts/ds-broadbrush.woff') format('woff'),
	url('fonts/ds-broadbrush.ttf') format('truetype'),
	url('fonts/ds-broadbrush.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
